# PREPARACION DE LA DATA

### Importar librerias

In [37]:
import pandas as pd
import requests
import time 
import random
pd.options.mode.chained_assignment = None

In [163]:
resumen = "https://riskzone.anywhereportfolio.com.ar:9099/api/parametria/miembrocompensador/getmiembrocompensadorparticipantecategoriaresumen"
detalle = "https://riskzone.anywhereportfolio.com.ar:9099/api/parametria/miembrocompensador/getmiembrocompensadorparticipantecategoriadetalle"


tokenobj = {'key': 'value'}
req1 = requests.get(resumen, json = tokenobj)
resu  = (req1.json())


req2 = requests.get(detalle, json = tokenobj)
deta  = (req2.json())

### resumen y detalles de categorias riesgo

In [170]:
resumen = pd.DataFrame(resu["Footer"])
detalles = pd.DataFrame(deta["Details"])

In [175]:
resumen = resumen[["CategoriaRiesgoID","PrimerLimite","SegundoLimite","TercerLimite"]]

#deta["Details"]

   CategoriaRiesgoID  PrimerLimite  SegundoLimite  TercerLimite
0                  1  8,500,000.00  34,000,000.00 56,700,000.00
1                  2  4,300,000.00  17,300,000.00 28,900,000.00
2                  3  1,900,000.00   7,700,000.00 12,800,000.00
3                  4    900,000.00   3,400,000.00  5,700,000.00
4                  5          0.00           0.00          0.00

In [178]:
riesgo = detalles.merge(resumen, how="left", on="CategoriaRiesgoID")

In [183]:
riesgo = riesgo[["MiembroCompensadorCodigo","CategoriaRiesgoID",
       'CategoriaRiesgoDescripcion', 'PrimerLimite', 'SegundoLimite',
       'TercerLimite']]

In [184]:
riesgo

,MiembroCompensadorCodigo,CategoriaRiesgoID,CategoriaRiesgoDescripcion,PrimerLimite,SegundoLimite,TercerLimite
0,16,1,A,"8,500,000.00","34,000,000.00","56,700,000.00"
1,21,4,D,"900,000.00","3,400,000.00","5,700,000.00"
2,22,4,D,"900,000.00","3,400,000.00","5,700,000.00"
3,23,5,E,0.00,0.00,0.00
4,26,4,D,"900,000.00","3,400,000.00","5,700,000.00"
...,...,...,...,...,...,...
221,185,4,D,"900,000.00","3,400,000.00","5,700,000.00"
222,186,1,A,"8,500,000.00","34,000,000.00","56,700,000.00"
223,187,4,D,"900,000.00","3,400,000.00","5,700,000.00"
224,190,2,B,"4,300,000.00","17,300,000.00","28,900,000.00"
225,191,5,E,0.00,0.00,0.00

### ----

In [40]:

def format_float(value):
    return f'{value:,.2f}'

pd.options.display.float_format = format_float

url_saldos_totales = "https://riskzone.anywhereportfolio.com.ar:9099/api/saldosconsolidados"

In [41]:
tokenobj = {'key': 'value'}
REQUEST_GENERAL = requests.get(url_saldos_totales, json = tokenobj)
data  = (REQUEST_GENERAL.json())
df = pd.DataFrame(data)

In [42]:
df

,MiembroCompensadorID,CuentaCompensacionID,FinalidadID,MonedaID,MonedaDescripcion,Cotizacion,MiembroCompensadorCodigo,CuentaCompensacionCodigo,FinalidadDescripcion,EgresoNoVerificado,...,CuitCuil,CuentaNeteoDescripcion,MargenRequeridoAnterior,MargenRequeridoDelDia,MargenRequeridoTotal,EntidadBursatilID,EntidadBursatilCodigo,EntidadBursatilDescripcion,MargenRequeridoAnteriorSC,HasCuentaInfoEmpty
0,694,1001,2,2,Pesos,1.00,320,1001,MÃ¡rgenes,0.00,...,30541906564,BARRILLI SOCIEDAD ANONIMA,"-4,938,826.49","-33,657.64","-4,972,484.13",1,ROFX,MtR,"-4,938,826.49",False
1,694,1001,2,2,Pesos,1.00,320,1001,MÃ¡rgenes,0.00,...,30708237996,AG CAMPOALTO SA,"111,864.08","-6,013.75","105,850.33",1,ROFX,MtR,0.00,False
2,694,1001,2,2,Pesos,1.00,320,1001,MÃ¡rgenes,0.00,...,27249263201,BOLATTI IVANA NATALIA,"9,034.22","-1,756.78","7,277.44",1,ROFX,MtR,0.00,False
3,694,1001,2,2,Pesos,1.00,320,1001,MÃ¡rgenes,0.00,...,20142146399,BIANCUCCI HUGO OSCAR,"1,481,929.51","-141,066.54","1,340,862.97",1,ROFX,MtR,0.00,False
4,694,1001,2,2,Pesos,1.00,320,1001,MÃ¡rgenes,0.00,...,20339184551,IZQUIERDOZ CARLOS ROBERTO,"-2,382,100.00",0.00,"-2,382,100.00",1,ROFX,MtR,"-2,382,100.00",False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7415,820,14987,500,5,DÃ³lar MEP,0.00,621,60003,MTM,0.00,...,30694367255,GALILEO ARGENTINA SOCIEDAD GERENTE DE FONDOS C...,0.00,0.00,0.00,1,ROFX,MtR,0.00,False
7416,842,15395,500,2,Pesos,0.00,627,168900,MTM,0.00,...,30677269940,CONSULTATIO ASSET MANAGEMENT GERENTE DE FONDO...,0.00,0.00,0.00,1,ROFX,MtR,0.00,False
7417,790,14922,500,5,DÃ³lar MEP,0.00,367,1367,MTM,0.00,...,30569151763,BANCO PIANO S.A.,0.00,0.00,0.00,1,ROFX,MtR,0.00,False
7418,843,15070,500,2,Pesos,0.00,506,1506,MTM,0.00,...,30716398230,INVOITRADE S.A.,0.00,0.00,0.00,1,ROFX,MtR,0.00,False
7419,820,15058,500,2,Pesos,0.00,621,80000,MTM,0.00,...,33715646469,IEB S.A.,0.00,0.00,0.00,1,ROFX,MtR,0.00,False

### PRIMER FILTRO: Dejar solo finalidad mÃ¡rgenes

In [43]:
df = df[(df.FinalidadID == 2)]

### Definir saldos finales y crear columnas de LOP

 en saldos finalidades este saldo inicial se llama SALDO NETO INTEGRADO

In [44]:
df["SaldoInicialAP5"] = df["SaldoInicial"] + df["MargenRequeridoAnterior"]
df["SaldoFinalVerificado"] = df["SaldoInicialAP5"] + df["IngresoVerificado"] + df["EgresoVerificado"] #+ df["MargenRequeridoTotal"]
df["SaldoFinalNoVerificado"] = df["SaldoFinalVerificado"] + df["IngresoNoVerificado"] + df["EgresoNoVerificado"]
df = df[["MiembroCompensadorCodigo","MiembroCompensadorID","CuentaCompensacionCodigo","CuentaCompensacionID","CuentaNeteoCodigo","MonedaDescripcion","SaldoInicialAP5","SaldoFinalVerificado","SaldoFinalNoVerificado","MargenRequeridoDelDia"]]

In [45]:
df

,MiembroCompensadorCodigo,MiembroCompensadorID,CuentaCompensacionCodigo,CuentaCompensacionID,CuentaNeteoCodigo,MonedaDescripcion,SaldoInicialAP5,SaldoFinalVerificado,SaldoFinalNoVerificado,MargenRequeridoDelDia
0,320,694,1001,1001,2001,Pesos,"958,275.32","958,275.32","958,275.32","-33,657.64"
1,320,694,1001,1001,3035,Pesos,"111,864.08","111,864.08","111,864.08","-6,013.75"
2,320,694,1001,1001,42379,Pesos,"9,034.22","9,034.22","9,034.22","-1,756.78"
3,320,694,1001,1001,45575,Pesos,"1,481,929.51","1,481,929.51","1,481,929.51","-141,066.54"
4,320,694,1001,1001,95818,Pesos,"1,800,540.00","1,800,540.00","1,800,540.00",0.00
...,...,...,...,...,...,...,...,...,...,...
7334,340,726,1340,14751,24943,Pesos,658.92,658.92,658.92,0.00
7362,318,696,5866,14595,5866,Pesos,"64,068,800.00","64,068,800.00","64,068,800.00",0.00
7368,349,736,1349,14778,92143,Pesos,"192,815,150.36","193,768,054.11","193,768,054.11",0.00
7372,351,739,30586,14790,30586,Pesos,"51,292,000.00","51,292,000.00","51,292,000.00","-28,700,000.00"
7387,365,756,1365,14885,168031,Pesos,"262,723.23","262,723.23","262,723.23",0.00

In [46]:

agg_functions = {'MiembroCompensadorCodigo': 'first', 'CuentaCompensacionCodigo': 'first', 'SaldoInicialAP5': 'sum', "SaldoFinalVerificado":"sum","SaldoFinalNoVerificado":"sum", "MargenRequeridoDelDia":"sum"}
df_pesos = df.groupby(df['CuentaNeteoCodigo']).aggregate(agg_functions).reset_index()
df = df_pesos
df = df[["MiembroCompensadorCodigo","CuentaCompensacionCodigo","CuentaNeteoCodigo","SaldoInicialAP5","SaldoFinalVerificado","SaldoFinalNoVerificado","MargenRequeridoDelDia"]]

df["LOP_Verificado"] = df["SaldoFinalVerificado"] + df["MargenRequeridoDelDia"]
df["LOP_NoVerificado"] = df["SaldoFinalNoVerificado"] + df["MargenRequeridoDelDia"]

In [47]:
saldo_negativo = df

In [48]:
saldo_negativo

,MiembroCompensadorCodigo,CuentaCompensacionCodigo,CuentaNeteoCodigo,SaldoInicialAP5,SaldoFinalVerificado,SaldoFinalNoVerificado,MargenRequeridoDelDia,LOP_Verificado,LOP_NoVerificado
0,320,1001,1001,"1,974,910.15","1,974,910.15","1,974,910.15",0.00,"1,974,910.15","1,974,910.15"
1,345,1345,100115,"259,355.00","259,355.00","259,355.00",0.00,"259,355.00","259,355.00"
2,269,1269,100240,"45,225.32","45,225.32","45,225.32",0.00,"45,225.32","45,225.32"
3,345,1345,100244,"1,674,260.66","1,674,260.66","1,674,260.66",0.00,"1,674,260.66","1,674,260.66"
4,405,1405,100255,"6,994.80","6,994.80","6,994.80",0.00,"6,994.80","6,994.80"
...,...,...,...,...,...,...,...,...,...
4494,378,1378,99968,"125,881.40","125,881.40","125,881.40","-19,839.87","106,041.53","106,041.53"
4495,269,1269,99976,"32,839.06","29,026.02","29,026.02",0.00,"29,026.02","29,026.02"
4496,345,1345,99978,"49,011.75","49,011.75","49,011.75",0.00,"49,011.75","49,011.75"
4497,133,1133,99985,"48,862.50","48,862.50","48,862.50",0.00,"48,862.50","48,862.50"
4498,None,None,[Cuenta Neteo sin codigo para Cuenta Compensac...,0.00,"10,000.00","10,000.00",0.00,"10,000.00","10,000.00"

### Get tipo de cuenta y nombre de MC

In [49]:
url = "https://riskzone.anywhereportfolio.com.ar:9099/api/cuentas/getcuentacompensacion"
df = requests.get(url, verify=False)
data_cuentas  = (df.json())
data_cuentas = pd.DataFrame(data_cuentas)

def get_tipo_de_cuenta(CIMCODIGO):
    CIMCODIGO = str(CIMCODIGO)
    data_mc = ((data_cuentas[data_cuentas["CuentaCompensacionCodigo"] == CIMCODIGO]))
    tipocuenta = data_mc["TipoCuentaCompensacionDescripcion"].iloc[0] #.to_string(Name=False,dtype=False,index=False)
    return(tipocuenta)

def get_mc_name(MC):
    MC = str(MC)
    data_mc = ((data_cuentas[data_cuentas["MiembroCompensadorCodigo"] == MC]))
    name_mc = data_mc["MiembroCompensadorDescripcion"].iloc[0] #.to_string(Name=False,dtype=False,index=False)
    return(name_mc)

C:\Users\aggonzalez\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\urllib3\connectionpool.py:1045: InsecureRequestWarning: Unverified HTTPS request is being made to host 'riskzone.anywhereportfolio.com.ar'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

In [50]:
saldo_negativo.iloc[2,1]

'1269'

In [51]:
tiposdecuenta = []
for i in range(len(saldo_negativo)):
    try:
        CIMCODIGO = (saldo_negativo.iloc[i,1])
        tipo = (get_tipo_de_cuenta(str(CIMCODIGO)))
    except:
        tipo = "???"
    tiposdecuenta.append(tipo)
saldo_negativo["TipoDeCuenta"] = tiposdecuenta

In [52]:

nombreMC = []

for i in range(len(saldo_negativo)):
        try:
                MC_COD = (saldo_negativo.iloc[i,0])
                nombre_mc = get_mc_name(MC_COD)
        except:
                nombre_mc = "???"
        nombreMC.append(nombre_mc)

saldo_negativo["ALyC"] = nombreMC


first_column = saldo_negativo.pop('ALyC')
  
# insert column using insert(position,column_name,first_column) function
saldo_negativo.insert(0, 'ALyC', first_column)

In [56]:
saldo_negativo = saldo_negativo[saldo_negativo["ALyC"] != "???"]
saldo_negativo

,ALyC,MiembroCompensadorCodigo,CuentaCompensacionCodigo,CuentaNeteoCodigo,SaldoInicialAP5,SaldoFinalVerificado,SaldoFinalNoVerificado,MargenRequeridoDelDia,LOP_Verificado,LOP_NoVerificado,TipoDeCuenta
0,ROSARIO VALORES SA,320,1001,1001,"1,974,910.15","1,974,910.15","1,974,910.15",0.00,"1,974,910.15","1,974,910.15",AN
1,BALANZ CAPITAL VALORES S A U,345,1345,100115,"259,355.00","259,355.00","259,355.00",0.00,"259,355.00","259,355.00",Terceros
2,ECO VALORES S.A.,269,1269,100240,"45,225.32","45,225.32","45,225.32",0.00,"45,225.32","45,225.32",Terceros
3,BALANZ CAPITAL VALORES S A U,345,1345,100244,"1,674,260.66","1,674,260.66","1,674,260.66",0.00,"1,674,260.66","1,674,260.66",Terceros
4,BULL MARKET BROKERS SA,405,1405,100255,"6,994.80","6,994.80","6,994.80",0.00,"6,994.80","6,994.80",Terceros
...,...,...,...,...,...,...,...,...,...,...,...
4493,ECO VALORES S.A.,269,1269,99961,206.14,206.14,206.14,0.00,206.14,206.14,Terceros
4494,BRIO VALORES AGENTE DE LIQUIDACION Y COMPENSAC...,378,1378,99968,"125,881.40","125,881.40","125,881.40","-19,839.87","106,041.53","106,041.53",Terceros
4495,ECO VALORES S.A.,269,1269,99976,"32,839.06","29,026.02","29,026.02",0.00,"29,026.02","29,026.02",Terceros
4496,BALANZ CAPITAL VALORES S A U,345,1345,99978,"49,011.75","49,011.75","49,011.75",0.00,"49,011.75","49,011.75",Terceros
4497,AGROBROKERS S R L,133,1133,99985,"48,862.50","48,862.50","48,862.50",0.00,"48,862.50","48,862.50",Terceros

### Obtener cual es la cuenta propia del MC

In [57]:
url = "https://riskzone.anywhereportfolio.com.ar:9099/api/cuentas/getcuentacompensacion"
r = requests.get(url, verify=False)
data_cuentas  = (r.json())
data_cuentas = pd.DataFrame(data_cuentas)


def get_cim_propia(MC):
    MC = str(MC)
    data_mc = ((data_cuentas[data_cuentas["MiembroCompensadorCodigo"] == (MC)]))
    propia = data_mc[data_mc["EsCuentaPropia"] == True]
    cim_codigo_propia = (propia["CuentaCompensacionCodigo"].to_string(name=False,dtype=False,index=False))
    return(cim_codigo_propia)

C:\Users\aggonzalez\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\urllib3\connectionpool.py:1045: InsecureRequestWarning: Unverified HTTPS request is being made to host 'riskzone.anywhereportfolio.com.ar'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

### Crear un DF con las propias y mergearlo con el DF Madre

In [58]:
propiastest = data_cuentas[(data_cuentas.EsCuentaPropia == True)]
propiastest = propiastest[["MiembroCompensadorCodigo", "CuentaCompensacionCodigo"]]
propiastest = (propiastest.rename(columns = {'CuentaCompensacionCodigo':'CuentaPropiaMc'})).reset_index()
propiastest = propiastest[["MiembroCompensadorCodigo", "CuentaPropiaMc"]]

saldo_negativo = saldo_negativo.merge(propiastest, on = "MiembroCompensadorCodigo", how = "left")

### definir el saldo de la propia como el lop verificado de esa cuenta - luego mergear

In [59]:
listado = saldo_negativo[["CuentaCompensacionCodigo","TipoDeCuenta"]]
listado = listado[listado.TipoDeCuenta == "Propia"]
listado
saldlist = []
for cuenta in listado.CuentaCompensacionCodigo:
    saldopropio = saldo_negativo[saldo_negativo.CuentaCompensacionCodigo == cuenta]
    saldodelapropia = (saldopropio["LOP_Verificado"].iloc[0])
    saldlist.append(saldodelapropia)
listado["LOP_Propia"] = saldlist

In [60]:
listado = listado[["CuentaCompensacionCodigo", "LOP_Propia"]].reset_index(drop=True)
listado = listado.rename(columns={"CuentaCompensacionCodigo":"CuentaPropiaMc"})

In [61]:
listado = pd.DataFrame(listado.groupby("CuentaPropiaMc").sum())

In [62]:
listado.reset_index(inplace=True)

In [63]:
len(listado)

142

In [64]:
saldo_negativo = saldo_negativo.merge(listado, how="left", on="CuentaPropiaMc")

In [65]:
len(saldo_negativo)

4498

In [66]:
saldo_negativo = saldo_negativo.fillna(0)

In [67]:
saldo_negativo

,ALyC,MiembroCompensadorCodigo,CuentaCompensacionCodigo,CuentaNeteoCodigo,SaldoInicialAP5,SaldoFinalVerificado,SaldoFinalNoVerificado,MargenRequeridoDelDia,LOP_Verificado,LOP_NoVerificado,TipoDeCuenta,CuentaPropiaMc,LOP_Propia
0,ROSARIO VALORES SA,320,1001,1001,"1,974,910.15","1,974,910.15","1,974,910.15",0.00,"1,974,910.15","1,974,910.15",AN,5976,0.00
1,BALANZ CAPITAL VALORES S A U,345,1345,100115,"259,355.00","259,355.00","259,355.00",0.00,"259,355.00","259,355.00",Terceros,26979,"20,329,273.45"
2,ECO VALORES S.A.,269,1269,100240,"45,225.32","45,225.32","45,225.32",0.00,"45,225.32","45,225.32",Terceros,6602,"14,021,729.19"
3,BALANZ CAPITAL VALORES S A U,345,1345,100244,"1,674,260.66","1,674,260.66","1,674,260.66",0.00,"1,674,260.66","1,674,260.66",Terceros,26979,"20,329,273.45"
4,BULL MARKET BROKERS SA,405,1405,100255,"6,994.80","6,994.80","6,994.80",0.00,"6,994.80","6,994.80",Terceros,9425,"37,337,022.93"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4493,ECO VALORES S.A.,269,1269,99961,206.14,206.14,206.14,0.00,206.14,206.14,Terceros,6602,"14,021,729.19"
4494,BRIO VALORES AGENTE DE LIQUIDACION Y COMPENSAC...,378,1378,99968,"125,881.40","125,881.40","125,881.40","-19,839.87","106,041.53","106,041.53",Terceros,54800,"4,008,000.00"
4495,ECO VALORES S.A.,269,1269,99976,"32,839.06","29,026.02","29,026.02",0.00,"29,026.02","29,026.02",Terceros,6602,"14,021,729.19"
4496,BALANZ CAPITAL VALORES S A U,345,1345,99978,"49,011.75","49,011.75","49,011.75",0.00,"49,011.75","49,011.75",Terceros,26979,"20,329,273.45"
4497,AGROBROKERS S R L,133,1133,99985,"48,862.50","48,862.50","48,862.50",0.00,"48,862.50","48,862.50",Terceros,9954,"13,230,201.60"

In [69]:
saldo_negativo[(saldo_negativo.LOP_Propia == 0) & (saldo_negativo.TipoDeCuenta == "Propia")]

,ALyC,MiembroCompensadorCodigo,CuentaCompensacionCodigo,CuentaNeteoCodigo,SaldoInicialAP5,SaldoFinalVerificado,SaldoFinalNoVerificado,MargenRequeridoDelDia,LOP_Verificado,LOP_NoVerificado,TipoDeCuenta,CuentaPropiaMc,LOP_Propia
1124,DMA BROKER S.A.,360,37867,161943,0.00,0.00,0.00,0.00,0.00,0.00,Propia,37867,0.00
1125,DMA BROKER S.A.,360,37867,161949,0.00,0.00,0.00,0.00,0.00,0.00,Propia,37867,0.00
2073,FUTURO BURSATIL S.A.,349,27434,27434,0.00,0.00,0.00,0.00,0.00,0.00,Propia,27434,0.00
2321,DMA BROKER S.A.,360,37867,37867,"206,141.60","206,141.60","206,141.60",0.00,"206,141.60","206,141.60",Propia,37867,0.00

In [ ]:
len(saldo_negativo[(saldo_negativo.LOP_Propia == 0)].ALyC.unique())

58

### CHECKPOINT - DATA MADRE -> SALDOS y seguimos con saldo_negativo

In [70]:
data_madre = saldo_negativo

### Filtrar cuentas con LOP negativo y aca empieza el analisis - ya no

In [ ]:
#saldo_negativo=saldo_negativo[(saldo_negativo["LOP_Verificado"] < 0)]

In [ ]:
saldo_negativo

,ALyC,MiembroCompensadorCodigo,CuentaCompensacionCodigo,CuentaNeteoCodigo,SaldoInicialAP5,SaldoFinalVerificado,SaldoFinalNoVerificado,MargenRequeridoDelDia,LOP_Verificado,LOP_NoVerificado,TipoDeCuenta,CuentaPropiaMc,LOP_Propia
37,BARRILLI SOCIEDAD ANONIMA,53,1053,101242,"-22,787,318.95","-2,488,756.95","-2,488,756.95",0.00,"-2,488,756.95","-2,488,756.95",Terceros,101930,0.00
39,AGRINTER CEREALES S R L,526,1526,101274,"-535,275.66","-535,275.66","-535,275.66","2,327.06","-532,948.61","-532,948.61",Terceros,34797,"353,725,230.00"
40,GRANAR S A COMERCIAL Y FINANCIERA,21,1021,101276,"-2,312,040.00","-2,312,040.00","-2,312,040.00",0.00,"-2,312,040.00","-2,312,040.00",Terceros,2021,"1,206,339,191.37"
53,NASINI SOCIEDAD ANONIMA,218,1218,101567,"1,675,770.84","1,681,804.40","1,681,804.40","-13,444,600.00","-11,762,795.60","-11,762,795.60",Terceros,4729,"365,673.55"
57,MAX CAPITAL S.A.,334,1334,101699,"-297,000,000.00","-297,000,000.00","-297,000,000.00",0.00,"-297,000,000.00","-297,000,000.00",Terceros,22558,"182,366,620.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4415,DIAZ RIGANTI CEREALES SRL,131,1131,96112,"-394,973.50","-394,973.50","-394,973.50",0.00,"-394,973.50","-394,973.50",Terceros,9980,"77,068,000.00"
4422,ROAGRO SA,42,1042,9633,"-427,190.02","-427,190.02","-427,190.02","-30,883.35","-458,073.37","-458,073.37",Terceros,2058,"233,680,008.71"
4423,ALLARIA LEDESMA Y CIA S A,401,1401,96367,"-709,550,000.00","-709,550,000.00","-709,550,000.00",0.00,"-709,550,000.00","-709,550,000.00",Terceros,6060,"3,347,914,000.00"
4432,VALCEREAL SA,284,1284,96575,"-449,691.78","-449,691.78","-449,691.78",0.00,"-449,691.78","-449,691.78",Terceros,7257,"134,352,185.84"
4524,FUTUROS Y OPCIONES.COM SA,155,1155,99568,"68,703.87",-0.33,-0.33,"-19,318.33","-19,318.66","-19,318.66",Terceros,10939,"564,962,183.21"

### Definir funciones utiles

In [ ]:
#def cim_to_id(cim):
#
#    cim = str(cim)
#
#    cimcod = data_cuentas[data_cuentas["CuentaCompensacionCodigo"] == cim]
#    cim = cimcod["CuentaCompensacionID"].to_string(index=False,dtype=False)
#    return(cim)
#
#def mccod_to_id(mc):
#
#    mc = str(mc)
#
#    mccod = data_cuentas[data_cuentas["MiembroCompensadorCodigo"] == mc]
#    mc = mccod["MiembroCompensadorID"].to_string(index=False,dtype=False)
#    mc = mc.split("\n")
#    mc = mc[0]
#    return(mc)
#

### Obtener saldos de las cuentas propias

In [ ]:
#dfsaldos = saldo_negativo[["MiembroCompensadorCodigo","CuentaPropiaMc"]]
#dfsaldos = dfsaldos.drop_duplicates()

In [ ]:

#listasaldospropios = []
#for i in range(len(dfsaldos)):
#    try:
#        ALYCCOD = (dfsaldos.iloc[i,0])
#        ALYCID = mccod_to_id(ALYCCOD)
#        PROPA = (dfsaldos.iloc[i,1])        
#        FINALIDAD = 2
#        PROPA = cim_to_id(PROPA)
#
#        e = {'SaldoInicial':'sum', 'MargenRequeridoTotal':'sum'}
#
#        tokenobj = {'key': 'value'}
#        URLSALDO = f"https://riskzone.anywhereportfolio.com.ar:9099/api/saldosconsolidados?MCId={ALYCID}&CelID={PROPA}"
#        q = requests.get(URLSALDO, json = tokenobj)
#        SALDOALYC  = (q.json())
#        SALDOALYC = pd.DataFrame(SALDOALYC)
#
#        saldoprevia = (SALDOALYC[['MiembroCompensadorID', 'CuentaCompensacionID', "MonedaDescripcion",'FinalidadID',"SaldoInicial","MargenRequeridoTotal"]]) #cambiar Anterior por Total
#        saldoprevia["AP5"] = saldoprevia["SaldoInicial"] + saldoprevia["MargenRequeridoTotal"] #CAMBIAR ANTERIOR POR Total
#        saldoprevia = saldoprevia.groupby("FinalidadID").agg(e)
#        saldoprevia = saldoprevia.reset_index()
#
#        saldoprevia = (saldoprevia[saldoprevia["FinalidadID"] == FINALIDAD])
#        saldoprevia["AP5"] = saldoprevia["SaldoInicial"] + saldoprevia["MargenRequeridoTotal"] #CAMBIAR ANTERIOR POR Total
#
#        calditos = saldoprevia["AP5"].sum()
#        saldodelapropia = calditos
#    except:
#        saldodelapropia = ALYCCOD
#    
#    listasaldospropios.append(saldodelapropia)

### Â¿Da saldo, recibe saldo? Obtenerlo y mergeralo al df

In [71]:

url = "https://rm4api.testing.acsa:8099/api/cuentas/getcuentacompensacion"
#url = "https://riskzone.anywhereportfolio.com.ar:9099/api/cuentas/getcuentacompensacion"
test = requests.get(url, verify=False)
dasaldo  = (test.json())
dasaldo = pd.DataFrame(dasaldo)
dasaldo = dasaldo[["CuentaCompensacionCodigo","EntidadBursatilDescripcion","DaCreditoIntraCuentaCompensacion","RecibeCreditoIntraCuentaCompensacion","DaCreditoInterCuentaCompensacion","RecibeCreditoInterCuentaCompensacion"]]

saldo_negativo = (saldo_negativo.merge(dasaldo, how='left', on= "CuentaCompensacionCodigo"))

C:\Users\aggonzalez\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\urllib3\connectionpool.py:1045: InsecureRequestWarning: Unverified HTTPS request is being made to host 'rm4api.testing.acsa'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

In [73]:
data = saldo_negativo

# PROCESO Y CRITERIOS DE ANALISIS

In [77]:
lisadomc = list(data["MiembroCompensadorCodigo"].unique())
len(lisadomc)

197

In [78]:
data["TipoDeCuenta"].unique()

array(['AN', 'Terceros', 'Propia', 'CER', 'CEL'], dtype=object)

In [93]:
datal = pd.DataFrame(columns=[["ALyC","LOP PROPIA","LOP TERCEROS","LOP CER"]])
datal

Empty DataFrame
Columns: [(ALyC,), (LOP PROPIA,), (LOP TERCEROS,), (LOP CER,)]
Index: []

In [145]:
listadi = []
for mc in lisadomc:
    alyc = data[data.MiembroCompensadorCodigo == mc]

    alyc_propia = alyc[alyc["TipoDeCuenta"] == "Propia"]
    lop_propia = alyc_propia.LOP_Verificado.sum()

    alyc_cel = alyc[alyc["TipoDeCuenta"] == "CEL"]
    lop_cel = alyc_cel.LOP_Verificado.sum()

    alyc_terceros = alyc[alyc["TipoDeCuenta"] == "Terceros"]
    alyc_terceros = alyc_terceros[alyc_terceros["LOP_NoVerificado"] < -10]
    alyc_terceros = alyc_terceros.LOP_Verificado.sum()

    alyc_cer = alyc[alyc["TipoDeCuenta"] == "CER"]
    alyc_cer = alyc_cer[alyc_cer["LOP_NoVerificado"] < -10]
    alyc_cer = alyc_cer.LOP_Verificado.sum()

    #print (f"ALYC {mc} - LOP PROPIA {lop_propia} - LOP TERCEROS {alyc_terceros} - LOP CER {alyc_cer}")

    dictmc = {"ALyC" : mc, "LOP PROPIA":lop_propia,"LOP TERCEROS":alyc_terceros,"LOP CER":alyc_cer, "LOP_CEL":lop_cel}
    listadi.append(dictmc)

In [146]:
listadi
dfc =pd.json_normalize(listadi)

In [152]:
dfc

    ALyC     LOP PROPIA   LOP TERCEROS  LOP CER          LOP_CEL
0    320           0.00           0.00     0.00 4,590,666,531.98
1    345  20,329,273.45  -3,405,962.45     0.00             0.00
2    269  14,021,729.19 -12,150,959.55     0.00             0.00
3    405  37,337,022.93  -2,586,075.17     0.00             0.00
4    409 369,950,550.00  -1,015,369.07     0.00             0.00
..   ...            ...            ...      ...              ...
192   11   1,519,650.00           0.00     0.00             0.00
193  294  25,885,660.93           0.00     0.00             0.00
194  296  40,527,040.00           0.00     0.00             0.00
195   41 277,781,832.39           0.00     0.00             0.00
196  298       1,439.42           0.00     0.00             0.00

[197 rows x 5 columns]

In [161]:
propia = []
terceros =[]
cer = []
cel=[]
for i in range(len(dfc)):
    saldopropia = dfc.iloc[i,1]
    saldoterceros = dfc.iloc[i,2]
    saldocer = dfc.iloc[i,3]
    saldocel = dfc.iloc[i,4]

    if saldopropia > 0:
        if saldopropia > abs(saldoterceros):
            saldopropia = saldopropia + saldoterceros # aca en realidad se resta, dado que saldo terceros tiene signo negativo
            saldoterceros = 0 # saldo de terceros pasa a estar cubierto y el saldo de la propia pasa a ser lo que le queda despues de cubrir

        if saldopropia > abs(saldocer):
            saldopropia = saldopropia + saldocer
            saldocer = 0
    if saldocel > 0:
        saldocel = 0

        
    propia.append(saldopropia)
    terceros.append(saldoterceros)
    cer.append(saldocer)
    cel.append(saldocel)

dfc["SALDO PROPIA EXPOST"] = propia
dfc["SALDO TERCEROS EXPOST"] = terceros
dfc["SALDO CER EXPOST"] = cer
dfc["SALDO CEL EXPOST"] = cel

In [190]:
lopfinal = dfc.merge(riesgo, how="left", left_on="ALyC", right_on="MiembroCompensadorCodigo")
lopfinal = lopfinal[['ALyC', 'LOP PROPIA', 'LOP TERCEROS', 'LOP CER', 'LOP_CEL',
       'SALDO PROPIA EXPOST', 'SALDO TERCEROS EXPOST', 'SALDO CER EXPOST',
       'SALDO CEL EXPOST','CategoriaRiesgoDescripcion', 'PrimerLimite', 'SegundoLimite',
       'TercerLimite']]

In [192]:
lopfinal.to_excel("LOP CON CATEGORIA.xlsx")

In [151]:
saldo_negativo[(saldo_negativo.MiembroCompensadorCodigo == "320") & (saldo_negativo.TipoDeCuenta == "CEL")].LOP_Verificado.sum()

89621988.91555452

### Calcular total CIM y total MC

In [ ]:
lista_mc = list(saldo_negativo["MiembroCompensadorCodigo"].drop_duplicates())
lista_cim = list(saldo_negativo["CuentaCompensacionCodigo"].drop_duplicates())

mco=[]
lop_mc=[]
lopno_mc=[]

for mc in lista_mc:
    provisorio_mc = (saldo_negativo[saldo_negativo["MiembroCompensadorCodigo"]==mc])
    lop_verificado_mc = provisorio_mc["LOP_Verificado"].sum()
    lop_noverificado_mc = provisorio_mc["LOP_NoVerificado"].sum()
    lop_mc.append(lop_verificado_mc)
    lopno_mc.append(lop_noverificado_mc)
    mco.append(mc)

listas = [mco,lop_mc,lopno_mc]
dataframe_lops_mc = (pd.DataFrame(listas)).T.rename(columns={0:"MiembroCompensadorCodigo",1:"LOP Verificado MC",2:"LOP No Verificado MC"})
#dataframe_lops_mc = dataframe_lops_mc.rename(columns={"0":"MiembroCompensadorCodigo","1":"LOP Verificado MC","2":"LOP No Verificado MC"},inplace=True)

cim_lop=[]
lop_cim=[]
lopno_cim=[]

for cim in lista_cim:
    provisorio_cim = (saldo_negativo[saldo_negativo["CuentaCompensacionCodigo"]==cim])
    lop_verificado_cim = provisorio_cim["LOP_Verificado"].sum()
    lop_noverificado_cim = provisorio_cim["LOP_NoVerificado"].sum()
    lop_cim.append(lop_verificado_cim)
    lopno_cim.append(lop_noverificado_cim)
    cim_lop.append(cim)
    
listas = [cim_lop,lop_cim,lopno_cim]
dataframe_lops_cim = (pd.DataFrame(listas)).T.rename(columns={0:"CuentaCompensacionCodigo",1:"LOP Verificado CIM",2:"LOP No Verificado CIM"})
#dataframe_lops_mc = dataframe_lops_mc.rename(columns={"0":"MiembroCompensadorCodigo","1":"LOP Verificado MC","2":"LOP No Verificado MC"},inplace=True)

saldo_negativo = saldo_negativo.merge(dataframe_lops_cim, on = "CuentaCompensacionCodigo", how = "left")
saldo_negativo = saldo_negativo.merge(dataframe_lops_mc, on = "MiembroCompensadorCodigo", how = "left")